
.icon-home:before { content: '\e800'; } /* '' */
.icon-retweet:before { content: '\e801'; } /* '' */
.icon-clipboard:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */