
.icon-calcretweet:before { content: '\e800'; } /* '' */
.icon-calchome:before { content: '\e801'; } /* '' */
.icon-calcgithub-circled:before { content: '\f09b'; } /* '' */
.icon-calceuro:before { content: '\f153'; } /* '' */
.icon-calcdollar:before { content: '\f155'; } /* '' */
.icon-calcbitcoin:before { content: '\f15a'; } /* '' */
.icon-calccalc:before { content: '\f1ec'; } /* '' */