input {
  text-align: right;
  width: 100%;
  font-size: 17pt;
}
button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.history {
  cursor: pointer;
  color:#8b8b8b;
}
