<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="demo-icon icon-calchome"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/calculator" routerLinkActive="active">Kalkulator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/currency" routerLinkActive="active">Przelicznik walut</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/converter" routerLinkActive="active">Konwerter jednostek pamięci</a>
      </li>
    </ul>
    <a class="nav-link text-light" href="https://github.com/karolgromacki" target="_blank"><i class="demo-icon icon-calcgithub-circled"></i></a>    
  </div>
</nav>