<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home"><i class="demo-icon icon-calchome"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/calculator"
          routerLinkActive="active" translate>navi.calc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/currency"
          routerLinkActive="active" translate>navi.curr</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="/converter"
          routerLinkActive="active" translate>navi.conv</a>
      </li>
    </ul>
    <a title="github" class="nav-link text-light" href="https://github.com/karolgromacki/Projekt-AMIW" target="_blank"><i
        class="demo-icon icon-calcgithub-circled"></i></a>
    <img *ngIf="trans; then thenBlock; else elseBlock">
    <ng-template #thenBlock>
      <img class="p-2 mb-1 btn" src="../../assets/data/PL.png" (click)="useLanguage('pl')" data-toggle="collapse" data-target="#navbarSupportedContent">
    </ng-template>
    <ng-template #elseBlock>
      <img class="p-2 mb-1 btn" src="../../assets/data/GB.png" (click)="useLanguage('en')" data-toggle="collapse" data-target="#navbarSupportedContent">
    </ng-template>

  </div>
</nav>