/* You can add global styles to this file, and also import other style files */
body {
  background-color: #202327;
  color: rgb(226, 226, 226);
  font-size: 14pt;
}
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: #343a40;
}
/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #6c757d;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #343a40 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #f8f9fa transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #343a40 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #f8f9fa transparent transparent transparent;
}
