.curr {
  color: white;
  background: #6c757d;
  transition: 0.5s;
  &:hover {
    background: #28a745;
    transition: 0.5s;
  }
}
.calc {
  color: white;
  background: #6c757d;
  transition: 0.5s;

  &:hover {
    background: #007bff;
    transition: 0.5s;
  }
}
.conv {
  color: white;
  background: #6c757d;
  transition: 0.5s;
  &:hover {
    background: #dc3545;
    transition: 0.5s;
  }
}
footer {
  position: relative;
  margin-top: 17vh;
  bottom: 0px;
  text-decoration: none;
  color: rgb(196, 196, 196);
}
